:root {
    --color--white-text:#FFFFFF;
    --color--background:#FAFAFA;
    --color--black-text:#111111;
    --color--gray-text: rgba(17,17,17,0.7);
    --color--brend:#FD9222;
    --color--hover-brend:#FCF1E0;
    --color--background-card:1E1823;
    --time-transition:cubic-bezier(0.4, 0, 0.2, 1);
  }

  body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--color--black-text);
    background-color: #E2E2E2;
  }

  .conteiner{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  @media screen and (min-width:375px) {
    .conteiner{
      min-width:375px;
    }
  }
  @media screen and (min-width:768px) {
    .conteiner{
      max-width: 768px;
      padding: 0 32px;
    }
  }
  @media screen and (min-width:1200px) {
    .conteiner{
      max-width: 1200px;
    }
  }

.section{
  padding-top: 72px;
}
@media screen and (min-width:768px) {
  .section{
    padding:100px 0;
  }
}
@media screen and (min-width:1200px) {
  .section{
    padding:128px 0;
  }
}
