.modal-review {
  max-width: 517px;
  padding: 40px;
  background-color: var(--color--bg);
  border-radius: 15px;
}
.close-modal-rev {
  stroke: black;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.icon-close {
    width: 28px;
    height: 28px;
}

.modal-title-review {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color--black-text);
}

.part-mod-title {
  color: var(--color--brend);
}
.form-review {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
/* .input-review {
  width: 100%;
  height: 66px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 10px;
  padding: 8px 16px;
  padding-left: 24px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-review::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}
.input-review.review-number {
  padding-left: 177px;
}
.review-number {
    position: relative;
}

.ukr-number {
    position: absolute;
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    margin-left: 24px;
    top: 51%;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    border-right: 1px solid rgba(64, 64, 64, 0.3);
}

.number-icon {
    width: 32px;
    height: 32px;
}

.textarea-review {
  resize: none;
  width: 100%;
  padding: 22px 24px;
  height: 137px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-review::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
} */

.btn-send-reveiw {
  display: block;
  font-family: inherit;
  background-color: #FD9222;
  color: var(--color--white-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  padding: 14px 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 117px;
  height: 45px;
}
.btn-send-reveiw:hover,
.btn-send-reveiw:focus {
  background-color: var(--color--hover-brend);
  color: var(--color--brend);
}