.modal-thank {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 311px;
    height: 350px;
    background: var(--color--brend);
    border-radius: 15px;
    overflow: hidden;
}
.modal-thank.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.button-thank {
    display: block;
    position: absolute;
    right: 14px;
    top: 14px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: var(--color--hover-brend);
    border: transparent;
    cursor: pointer;
}
.thank-close {
    display: block;
    width: 100%;
    stroke: #F16529;
}
.thank-paragraph {
    width: 219px;
    margin-left: 68px;
    margin-top: 84px;
}
.thank-title {
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--color--hover-brend);
}
.thank-text {
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--color--hover-brend);
}
.modal-thank > .thank-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 15px;
}



@media screen and (min-width:375px) {
    .conteiner{
      max-width:375px;
    }
  }
  @media screen and (min-width:768px) {
    .conteiner{
      max-width: 768px;
      padding: 0 32px;
    }
    .modal-thank {
        width: 516px;
        height: 414px;
    }
    .button-thank {
        right: 26px;
        top: 24px;
        width: 38px;
        height: 38px;
    }
    .thank-paragraph {
        width: 309px;
        margin-left: 163px;
        margin-top: 154px;
        margin-bottom: 154px;
    }
    .thank-title {
        font-size: 1.5rem;
        line-height: 1.17;
    }
    .thank-text {
        font-size: 1.125rem;
        line-height: 1.33;
    }
  }
  @media screen and (min-width:1200px) {
    .conteiner{
      max-width: 1200px;
    }
  }