.section.section-components {
  padding-bottom: 0;
}

.title-components {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: var(--color--black-text);
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  width: 411px;
  margin-bottom: 28px;
  margin: 0 auto 28px;
}

@media (max-width: 767px) {
  .title-components {
    font-size: 20px;
    max-width: 283px;
  }
}
.title-components-second {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: var(--color--brend);
}
.text-components {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  width: 486px;
  margin-bottom: 50px;
  margin: 0 auto;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .text-components {
    max-width: 335px;
  }
}
.components-box {
  display: flex;
  column-gap: 19px;
  row-gap: 19px;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 767px) {
  .components-box {
    flex-direction: column;
  }
}
.components-cards-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3px;
  letter-spacing: -0.02em;
  color: var(--color--white-text);
}
.components-cards-text-second {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3px;
  letter-spacing: -0.02em;
  color: var(--color--black-text);
}
.components-cards {
  width: 270px;
  height: 270px;
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding: 28px 36px 36px 28px;
}
@media (max-width: 767px) {
  .components-cards {
    margin: 0 auto;
  }
}
.components-cards-orange {
  background-color: var(--color--brend);
}
.components-cards-white {
  background-color: var(--color--white-text);
}
.components-cards-black {
  background-color: var(--color--bg-card);
}
.components-image {
  margin-bottom: 36px;
  width: 206px;
}
@media (max-width: 1199px) {
  .components-image {
    width: 224px;
  }
}
.components-cards {
  position: relative;
  overflow: hidden;
}
.components-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--color--white-text);
  padding: 28px;
  transform: translateY(100%);
  transition: transform 250ms var(--time-transition);
}
.components-link:hover .components-overlay,
.components-link:focus .components-overlay {
  transform: translateY(0);
}
.title-components-overlay {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color--black-text);
  margin-bottom: 8px;
}
.text-overlay {
  line-height: 18px;
  letter-spacing: -0.02em;
}
.components-button-overlay {
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}

.button.primary.button-overlay,
.button.light.button-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  font-weight: 400;
  font-size: 10px;
  padding: 6px 16px;
  max-width: 100px;
}
