.container-header {
  display: flex;
  align-items: center;
  width: 1136px;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
}

.nav-header {
  display: flex;
}

.logo-simply {
  font-style: italic;
}

.nav {
  display: flex;
  gap: 24px;
  margin-left: 188px;
}

.logo {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  padding-top: 24px;
  padding-bottom: 32px;
}

.nav-social-list {
  display: flex;
}

.nav-link {
  display: block;
  font-weight: 500;
  letter-spacing: -0.02em;
  padding-top: 24px;
  padding-bottom: 32px;
}

.nav-social {
  display: flex;
}

.icon {
  width: 24px;
  height: 24px;
}
