/*--CSS var---*/
:root {
  --orange-background: #FD9222;
  --black-background: #111111;
  --dark-purple: #1E1823;
  --white: #FFFFFF;
  --beige-background: #FCF1E0;
}

/*----Hero----*/

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hero {
  background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(./images/hero/chocolate-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  max-width: 335px;
  padding-top: 395px;
  padding-bottom: 81px;
  left: 0;
  top: 0;
  border-radius: 20px;

}

@media (min-width: 768px) {
    .hero {
        background-size: cover;
        background-position: center ;
        max-width: 704px;
        padding-top: 671px;
        padding-bottom: 40px;
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(./images/hero/chocolate-tablet.jpg);
    }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2),
(min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 768px) and (min-resolution: 192dpi),
(min-width: 768px) and (min-resolution: 2dppx)  {
    .hero {
       
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(./images/hero/chocolate-tablet@2x.jpg);
    }
}

@media (min-width: 1158px) {
    .hero {
        background-position: center;
        padding-top: 381px;
        padding-bottom: 40px;
        max-width: 1136px;
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(./images/hero/simply-chocolate.jpg);
        
    }
}

@media (min-width: 1158px) and (min-device-pixel-ratio: 2),
(min-width: 1158px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1158px) and (min-resolution: 192dpi),
(min-width: 1158px) and (min-resolution: 2dppx)  {
    .hero {
       
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(./images/hero/simply-chocolate@2x.jpg);
    }
}


.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03;
  color: var(--white);
  width: 100%;
  max-width: 299px;
  margin-left: 20px;
  margin-right: auto;
  margin-bottom: 32px;
  text-align: left;
}

@media (min-width: 768px) and (max-width: 1158px) {
  .hero-title {
    font-size: 28px;
    margin-left: 40px;
    max-width: 484px;
  }
}

.list-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 14px;
  margin-left: 20px;
  
}

.hero-btn {
  font-style: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  padding: 12px 28px;
  color: var(--white);
  
  cursor: pointer;
}

.buy-btn {
  border: none;
  background-color: var(--orange-background);
  border-radius: 100px;
}

.buy-btn:hover,
.buy-btn:focus {
  color: var(--orange-background);
  background-color: var(--beige-background);

}

.made-btn {
  background-color: var(--dark-purple);
  border-color: var(--white);
  border-radius: 100px;
}

.made-btn:hover,
.made-btn:focus {
  color: var(--orange-background);
  border-color: var(--orange-background);
  background-color: var(--white);
}

.scroll-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--white);
  background-color: transparent;
  border: none;
  gap: 14px;
  outline: none;

}

.scroll-icon {
  width: 38px;
  height: 38px;
  fill: var(--white);
  
}
