/*----Hero----*/
.hero {
  background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), 
  url(../../images/hero/chocolate-mobile.jpg);
  background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), 
  url(../../images/hero/chocolate-mobile@2x.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  max-width: 335px;
  padding-top: 395px;
  padding-bottom: 21px;
  padding-left: 20px;
  left: 0;
  top: 0;
  border-radius: 20px;
}

@media (min-width: 768px) {
    .hero.conteiner {
        background-size: cover;
        background-position: center;
        max-width: 704px;
        padding-left: 40px;
        padding-top: 671px;
        padding-bottom: 40px;
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), 
        url(../../images/hero/chocolate-tablet.jpg);
    }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2),
(min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 768px) and (min-resolution: 192dpi),
(min-width: 768px) and (min-resolution: 2dppx)  {

    .hero.conteiner {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
        url(../../images/hero/chocolate-tablet@2x.jpg);
    }
}

@media (min-width: 1158px) {
    .hero.conteiner {
        background-position: center;
        padding-top: 381px;
        padding-bottom: 40px;
        max-width: 1136px;
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../../images/hero/simply-chocolate.jpg);
        
    }
}

@media (min-width: 1158px) and (min-device-pixel-ratio: 2),
(min-width: 1158px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1158px) and (min-resolution: 192dpi),
(min-width: 1158px) and (min-resolution: 2dppx)  {
    .hero.conteiner {
       
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../../images/hero/simply-chocolate@2x.jpg);
    }
}

.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03;
  color: var(--color--white-text);
  width: 100%;
  max-width: 299px;
  margin-right: auto;
  margin-bottom: 32px;
  text-align: left;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 28px;
    max-width: 484px;
  }
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

@media (min-width: 768px) {
  .list-button {
    display: flex;
    justify-content: space-between;
  }
}

.list-button {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  padding: 12px 28px;
  color: var(--color--white-text);
  cursor: pointer;
  transition: color 250ms var(--time-transition),
    background-color 250ms var(--time-transition);
}

.buy-btn {
  border: none;
  background-color: var(--color--brend);
  border-radius: 100px;
}

.buy-btn:hover,
.buy-btn:focus {
  color: var(--color--brend);
  background-color: var(--color--hover-brend);

}

.made-btn {
  background-color: transparent;
  border-color: var(--color--white-text);
  border-radius: 100px;
}

.made-btn:hover,
.made-btn:focus {
  color: var(--color--brend);
  border-color: var(--color--brend);
  background-color: var(--color--white-text);
}

.scroll-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--color--white-text);
  background-color: transparent;
  border: none;
  gap: 14px;
  outline: none;
  padding: 0;
  cursor: pointer;
  transition: color 250ms var(--time-transition),
  background-color 250ms var(--time-transition);
}
.scroll-icon {
  border-radius: 50%;
  padding: 11px 9px;
 background-color: var(--color--white-text);
  width: 28px;
  height: 28px;
  fill: var(--color--brend);
  stroke: var(--color--brend);
}

.scroll-btn:hover,
.scroll-btn:focus {
 color: var(--color--brend);
 }
 
.scroll-btn:focus >.scroll-icon,
.scroll-btn:hover >.scroll-icon{
 fill: var(--color--white-text);
 background-color: var(--color--brend);
}

@media (min-width: 768px) {
  .scroll-icon {
    width: 38px;
    height: 38px;
    padding: 15px 12px;
  }  
}