.produckts {
    padding: 72px 20px;
    position: relative;
}


.produckts-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--color--black-text);
    margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
    .produckts-title {
        font-size: 24px;
        line-height: 1;
    }
}
.color-products{
    color: var(--color--brend);
}
.produckts-list {
    position: relative;
    display: flex;
    gap: 18px;
    justify-content: center;
    min-width: 0;
    
    
}
.produckts-img {
    width: 100%;
    max-width:  335px;
    height: 364px;
    padding: 32px 52px;
    
    box-sizing: border-box;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    background-color: var(--color--white-text);
}
@media screen and (min-width: 768px) {
    .produckts-img {
        max-width: 270px;
        padding: 32px 20px;
    }
}


.products-block {
width: 100%;
width: 88px;
height: 40px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: 71px;  
margin-bottom: 18px;

}
.products-name{
white-space: nowrap;
font-weight: 600;
font-size: 18px;
line-height: 1.33;
text-align: center;
color: var(--color--black-text);
}
.produckts-description{
white-space: nowrap;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    text-align: center;
    color: var(--color--gray-text);

    
}
.produckts-btn {
display: block;
flex-direction: row;
text-align: center;
margin-left: 68px;


width: 94px;
height: 33px;

background-color: var(--color--bg);
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 100px;

font-weight: 600;
font-size: 14px;
line-height: 17px;
color: var(--color--black-text);
}

.swiper {
    width: 335px;

}   
@media screen and (min-width: 768px) {
    .swiper {
        width: 736px;
    }
}
@media screen and (min-width: 1200px) {
    .swiper {
        width: 1136px;
      }
  }
  .swiper-slide{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.swiper-pagination-bullet {
    background-color: var(--color--gray-text);
    width: 13px;
    height: 13px;
 
}
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    bottom: 0;
}
.swiper-pagination-bullet-active {
    width: 28px;
    height: 13px;
    background-color: var(--color--brend); 
}