.subscribe{
    text-align: center;
}
.subscribe-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    height: 370px;
    padding: 62px 24px;
}
.subscribe-title{
    color: var(--color--white-text);
    font-weight: 600;
    font-size: 1.25rem;
    max-width: 18.1875rem;
    letter-spacing: -0.03em;
    line-height: 1.2;
    text-transform: uppercase;
}
.subscribe-text{
    max-width: 20.375rem;
    letter-spacing: -0.02em;
    line-height: 1.2857em;
    color: var(--color--white-text);
}
@media screen and (min-width:768px){
    .subscribe-body{
        padding: 72px 0;
    }
    .subscribe-title{
        max-width: 23.625rem;
        font-size: 1.5rem;
        line-height: 1.16;
    }
    .subscribe-text{
        max-width: 29.1875rem;
    }
}

._ibg{
    position: relative;
    z-index: -1;   
}
._ibg.img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    object-fit: cover;
}