/* Загальні стилі для кнопок */

.button {
  padding: 14px 40px;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

/* Кнопка - бренд,  #FD9222  */

.button.primary {
  font-size: 18px;
  line-height: 1.22;
  color: white;

  width: 172px;
  height: 50px;

  border: 1px solid transparent;
  background-color: var(--color--brend);

  transition: color 250ms var(--time-transition),
    background-color 250ms var(--time-transition);
}

.button.primary:focus,
.button.primary:hover {
  color: var(--color--brend);
  background-color: var(--color--hover-brend);
}

/* Кнопка на темному фоні  */

.button.dark {
  font-size: 14px;
  line-height: 1.21;
  color: white;

  width: 183px;
  height: 45px;

  border: 1px solid white;
  background-color: transparent;

  transition: color 250ms var(--time-transition),
    background-color 250ms var(--time-transition);
}

.button.dark:focus,
.button.dark:hover {
  color: var(--color--brend);
  border-color: var(--color--brend);
}

/* Кнопка на світлому фоні  */

.button.light {
  font-size: 18px;
  line-height: 1.22;
  color: var(--color--black-text);

  width: 222px;
  height: 50px;

  border: 1px solid var(--color--brend);
  background-color: transparent;

  transition: color 250ms var(--time-transition),
    background-color 250ms var(--time-transition);
}

.button.light:focus,
.button.light:hover {
  color: white;
  background-color: var(--color--brend);
}

/* Стиль для заголовків. Оранж-акцент - це .color-title */

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  margin-bottom: 50px;
}

.color-title {
  color: var(--color--brend);
}
