<div class="backdrop is-hidden" data-modal>
  <div class="modal feedback">
    <button type="button" class="modal-close-button feedback" data-modal-close>
      <svg class="modal-close-btn feedback">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <p class="title-modal-feedback">
      thank you <br />
      for your feedback!
    </p>
    <p class="text-modal-feedback">We are so happy to hear from you!</p>

    <img
      srcset="
        ./images/thank-you/chocolate.png    1x,
        ./images/thank-you/chocolate@2x.png 2x
      "
      src="./images/thank-you/chocolate.png"
      alt="Сhocolate dark"
      class="img-thanks"
    />
  </div>
</div>
