<!-- Modal -->
<div class="modal-review">
  <button class="close-modal-rev" type="button">
    <svg class="icon-close">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <p class="modal-title-review">LEAVE A REVIEW ABOUT <br> <span class="part-mod-title"> OUR CHOCOLATE</span>
  </p>
  <form class="form-review" action="">
    <input class="input-review" type="name" placeholder="Name" />
    <input class="input-review" type="mail" placeholder="Email" />
    <input class="input-review review-number" type="tel" placeholder="| Phone number" />
    <span class="ukr-number">
        <svg class="number-icon">
        <use href="./images/icons.svg#icon-ukr"></use>
    </svg>+380</span>
    <textarea
      class="textarea-review"
      name=""
      id=""
      placeholder="Enter text"
    ></textarea>
    <button class="btn-send-reveiw" type="submit">Send</button>
  </form>
</div>