<div class="modal thanks" data-modal="2">
    <button type="button" class="modal-close-button thanks js-modal-close" data-modal-close>
      <svg class="modal-close-btn thanks">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <p class="title-modal-thanks">thank you!</p>
    <p class="text-modal-thanks">
      We are glad that you ordered our chocolate and we are giving you a 20%
      discount on all our products.
    </p>

    <img
      srcset="
        ./images/thank-you/chocolate.png    1x,
        ./images/thank-you/chocolate@2x.png 2x
      "
      src="./images/thank-you/chocolate.png"
      alt="Сhocolate dark"
      class="img-thanks"
    />
  </div>


