<footer class="holder" id="footer">
  <div class="conteiner">
    <div class="contact-conteiner">
      <p class="footer-paragraph">
        <span class="span-footer-paragraph">Chocolate</span> a delicious cure
        for a bad day
      </p>
      <div class="address-icon-conteiner">
        <div class="address-conteiner">
          <p class="address-paragraph">Contact us</p>
          <address>
            <ul class="address-style">
              <li class="address-item-footer">
                <a href="tel:+380684439426">+380 (68) 443-94-26</a>
              </li>
              <li class="address-item-footer">
                <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
              </li>
            </ul>
          </address>
        </div>

        <ul class="socials-icons">
          <li class="socials-item">
            <a class="link-icon" href="#">
              <svg width="22" height="22">
                <use
                  class="icon-socials-svg"
                  href="./images/icons.svg#icon-instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a class="link-icon" href="#">
              <svg width="22" height="22">
                <use
                  class="icon-socials-svg"
                  href="./images/icons.svg#icon-twitter"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="conteiner-navigation">
      <nav class="navigation">
        <ul class="navigation-style">
          <li class="item-navigation"><a href="#home">Home</a></li>
          <li class="item-navigation">
            <a href="#made-section">How it&rsquo;s made?</a>
          </li>
          <li class="item-navigation">
            <a href="#produckts">Our products</a>
          </li>
          <li class="item-navigation">
            <a href="#top-sellers">Top sellers</a>
          </li>
          <li class="item-navigation">
            <a href="#review">Chocolate is loved</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
