<header class="header">
  <div class="container container-header">
    <nav class="nav-header">
      <a href="../index.html" class="logo"
        ><span class="logo-simply">SIMPLY</span
        ><span class="logo-chocolate">CHOCOLATE</span
        ><svg class="main-icon icon">
          <use href="../images/icons.svg#icon-logochocolate"></use>
        </svg>
      </a>
      <ul class="nav">
        <li><a href="" class="nav-link">Home</a></li>
        <li><a href="" class="nav-link">How it’s made?</a></li>
        <li><a href="" class="nav-link">Our products</a></li>
        <li><a href="" class="nav-link">Top sellers</a></li>
        <li><a href="" class="nav-link">Chocolate is loved</a></li>
      </ul>
    </nav>
    <div class="nav-social">
      <ul class="nav-social-list">
        <li class="nav-social-link">
          <a href="https://www.instagram.com/"
            ><svg class="social-icon icon">
              <use href="../images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="nav-social-link">
          <a href="https://twitter.com/"
            ><svg class="social-icon icon">
              <use href="../images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
