<header class="header" id="home">
  <div class="container container-header">
    <nav class="nav-header">
      <a href="./index.html" class="logo"
        ><span class="logo-simply">SIMPLY</span
        ><span class="logo-chocolate">CHOCOLATE</span
        ><svg class="main-icon icon">
          <use href="./images/icons.svg#icon-logochocolate"></use>
        </svg>
      </a>
      <button
        type="button"
        class="menu-button js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="mobile-icon icon" aria-label="mobile menu switcher">
          <use href="./images/icons.svg#icon-burger" class="icon-menu"></use>
        </svg>
      </button>
      <ul class="nav">
        <li class="nav-list">
          <a href="#Home" class="nav-link">Home</a>
        </li>
        <li class="nav-list">
          <a href="#made-section" class="nav-link">How it’s made?</a>
        </li>
        <li class="nav-list">
          <a href="#produckts" class="nav-link">Our products</a>
        </li>
        <li class="nav-list">
          <a href="#top-sellers" class="nav-link">Top sellers</a>
        </li>
        <li class="nav-list">
          <a href="#review" class="nav-link">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <div class="nav-social">
      <ul class="nav-social-list">
        <li class="nav-social-link">
          <a href="https://www.instagram.com/"
            ><svg class="social-icon icon">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="nav-social-link">
          <a href="https://twitter.com/"
            ><svg class="social-icon icon">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="mobile-btn-close js-close-menu">
      <svg class="icon-close-menu">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="mobile-nav">
      <ul class="mobile-menu list">
        <li class="menu-item">
          <a href="" class="mobile-link">Home</a>
        </li>
        <li class="menu-item">
          <a href="" class="mobile-link">How it’s made?</a>
        </li>
        <li class="menu-item">
          <a href="" class="mobile-link">Our products</a>
        </li>
        <li class="menu-item">
          <a href="" class="mobile-link">Top sellers</a>
        </li>
        <li class="menu-item">
          <a href="" class="mobile-link">Chocolate is loved</a>
        </li>
      </ul>
    </div>
    <div class="mobile-menu-social">
      <ul class="list social-med-list">
        <li class="menu-item">
          <a href="" class="icon-link">
            <svg class="menu-social-icon">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="menu-item">
          <a href="" class="icon-link">
            <svg class="menu-social-icon">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
