<section class="hero">
            <h1 class="hero-title">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h1>
           <ul class="list-button">
            <li><button class="hero-btn buy-btn" type="button">Buy now</button></li>
            <li><button class="hero-btn made-btn" type="button">How it’s made</button></li>
            <li><button class="hero-btn scroll-btn" type="button">scroll down</button></li>
           </ul> 
         
         
        </section>