<section class="hero conteiner" id="hero">
  <h1 class="hero-title">
    Treat yourself or a loved one to our finest ingredients for a moment of pure
    delight!
  </h1>
  <ul class="list-button">
    <div class="btn-container">
      <li>
        <button
          class="hero-btn buy-btn js-open-modal"
          type="button"
          data-modal="1"
        >
          Buy now
        </button>
      </li>
      <li>
          <button class="dark hero-btn made-btn" type="button"><a href="#made-section"></a>
            How it’s made
            </a>
          </button>
      </li>
    </div>
    <li>
      <button class="light hero-btn scroll-btn" type="button"><a href="#footer"></a>
        scroll down
        <svg class="scroll-icon">
          <use href="./images/icons.svg#icon-scroll"></use>
        </svg>
        </a>
      </button>
    </li>
  </ul>
</section>
