<section class="hero conteiner">
    <h1 class="hero-title">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h1>
   <ul class="list-button">
    <div class="btn-container"><li><button class="hero-btn buy-btn" type="button">Buy now</button></li>
    <li><button class="dark hero-btn made-btn" type="button">How it’s made</button></li></div>
    <li><button class="light hero-btn scroll-btn" type="button">scroll down
       <svg class="scroll-icon">
          <use href="./images/icons.svg#icon-scroll"></use>
       </svg>
    </button></li>
   </ul> 
</section>

