<section class="made-section section">
  <div class="conteiner">
    <h2 class="made-tittle">HOW IT'S <span class="title-color">MADE?</span></h2>
    <div class="made-container">
      <picture>
        <source
          srcset="
            /images/made/preview-335.jpg    1x,
            /images/made/preview-335@2x.jpg 2x
          "
          media="( max-width:767px)"
        />
        <source
          srcset="
            /images/made/preview-614.jpg    1x,
            /images/made/preview-614@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width:768px )"
        />

        <source
          srcset="
            /images/made/preview-600.jpg    1x,
            /images/made/preview-600@2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width:1200px)"
        />

        <img
          class="made-img"
          src="/images/made/preview.jpg"
          alt="Chris standing up holding his daughter Elva"
        />
      </picture>

      <div class="made-text-block">
        <p class="made-text">
          Try our chocolates today and discover the perfect balance of flavor
        </p>
        <ul class="made-list">
          <li class="made-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="made-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="made-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="made-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="made-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
