 <section class="produckts" id="produckts">
    <a name="Our products"></a>
    <h2 class="produckts-title">
        <span class="color-our">OUR</span>
        <span class="color-products">PRODUCTS</span> 
    </h2>
     
    <div class="swiper swiper-produckts">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
    <div class="produckts-list">
     <li class="produckts-img">
        <img class="produckts-photo" srcset="./images/produckts/orange.jpg 1x ./images/produckts/orange@2x.jpg 2x"
            src="./images/produckts/orange.jpg"
            width="230"
            height="201"
            alt="orange"
            />
        <div class="products-block">
            <h3 class="products-name">ORANGE</h3>
            <p class="produckts-description">Dark chocolate</p>
            </div>
            <button class="produckts-btn" type="button">
            45 UAH
          </button>
         </li>
         </div>
        </div>

        <div class="swiper-slide">
        <div class="produckts-list">
     <li class="produckts-img">
        <img  class="produckts-photo" srcset="./images/produckts/apple.jpg 1x ./images/produckts/apple@2x.jpg 2x"
            src="./images/produckts/apple.jpg"
            width="230"
            height="201"
            alt="apple"
            />
        <div class="products-block">
            <h3 class="products-name">APPLE&CRANBERRY</h3>
            <p class="produckts-description">Milk chocolate</p>
            </div>
            <button class="produckts-btn" type="button">
            50 UAH
          </button>
         </li>
        </div>
       </div>
     
      
        <div class="swiper-slide">
      <div class="produckts-list">
     <li class="produckts-img">
        <img class="produckts-photo" srcset="./images/produckts/lime.jpg 1x ./images/produckts/lime@2x.jpg 2x"
            src="./images/produckts/lime.jpg"
            width="230"
            height="201"
            alt="lime"
            />
        <div class="products-block">
            <h3 class="products-name">LIME&SEA SALT</h3>
            <p class="produckts-description">Dark chocolate</p>
            </div>
            <button class="produckts-btn" type="button">
            66 UAH
          </button>
          </li>
        </div>
         </div>

     
        <div class="swiper-slide">
          <div class="produckts-list">
          <li class="produckts-img">
        <img class="produckts-photo" srcset="./images/produckts/pineapple.jpg 1x ./images/produckts/pineapple@2x.jpg 2x"
            src="./images/produckts/pineapple.jpg"
            width="230"
            height="201"
            alt="pineapple"
            />
        <div class="products-block">
            <h3 class="products-name">PINEAPPLE</h3>
            <p class="produckts-description">Dark chocolate</p>
            </div>
            <button class="produckts-btn" type="button">
            54 UAH
          </button>
       </li>
        </div>
        </div>
        
     
        <div class="swiper-slide">
          <div class="produckts-list">
          <li class="produckts-img">
        <img class="produckts-photo" srcset="./images/produckts/classik.jpg 1x ./images/produckts/classik@2x.jpg 2x"
            src="./images/produckts/classik.jpg"
            width="230"
            height="201"
            alt="classik"
            />
        <div class="products-block">
            <h3 class="products-name">CLASSIC</h3>
            <p class="produckts-description">Milk chocolate</p>
            </div>
            <button class="produckts-btn" type="button">
            45 UAH
          </button>
        </li>
         </div>
        </div>
         

        <div class="swiper-slide">
          <div class="produckts-list">
          <li class="produckts-img">
        <img class="produckts-photo" srcset="./images/produckts/honey.jpg 1x ./images/produckts/honey@2x.jpg 2x"
            src="./images/produckts/honey.jpg"
            width="230"
            height="201"
            alt="honey"
            />
        <div class="products-block">
            <h3 class="products-name">HONEY</h3>
            <p class="produckts-description">Milk chocolate</p>
            </div>
            <button class="produckts-btn" type="button">
            50 UAH
          </button>
         </li>
        </div>
       </div>

        
        <div class="swiper-slide">
          <div class="produckts-list">
          <li class="produckts-img">
        <img class="produckts-photo" srcset="./images/produckts/roasted.jpg 1x ./images/produckts/roasted@2x.jpg 2x"
            src="./images/produckts/roasted.jpg"
            width="230"
            height="201"
            alt="roasted"
            />
        <div class="products-block">
            <h3 class="products-name">ROASTED FRUITS</h3>
            <p class="produckts-description">Dark chocolate</p>
            </div>
            <button class="produckts-btn" type="button">
            66 UAH
          </button>
         </li>
        </div>
       </div>
         
        <div class="swiper-slide">
        <div class="produckts-list">
        <li class="produckts-img"> 
        <img class="produckts-photo" srcset="./images/produckts/white.jpg 1x ./images/produckts/white@2x.jpg 2x"
            src="./images/produckts/white.jpg"
            width="230"
            height="201"
            alt="white"
            />
        
        <div class="products-block">
            <h3 class="products-name">CLASSIC</h3>
            <p class="produckts-description">White chocolate</p>
            </div>
            <button class="produckts-btn" type="button">
            54 UAH
          </button>
        </li>
        </div>
        </div>
        
    </div>
      </div>
  
    <!--  pagination -->
    
    <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal produckts-pagination">
      <span class="swiper-pagination-bullet swiper-pagination-bullet-active" aria-current="true"></span>
    <span class="swiper-pagination-bullet"></span>
    <span class="swiper-pagination-bullet"></span>
    <span class="swiper-pagination-bullet"></span>
    <span class="swiper-pagination-bullet"></span>
    <span class="swiper-pagination-bullet"></span>
    <span class="swiper-pagination-bullet"></span>
    <span class="swiper-pagination-bullet"></span>
    </div>
   

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
   
  </div>
 
</section> 
