<section class="section section-review">
  <div class="conteiner">
    <h2 class="title-review">
      chocolate <span class="part-review-title">is loved</span>
    </h2>
    <ul class="review-list">
      <li class="review-item">
        <div class="card-box">
          <div class="img-review">
            <img
              srcset="
                ./images/review/victoria@1x.jpg 1x,
                ./images/review/victoria@2x.jpg 2x
              "
              src="./images/review/victoria@1x.jpg"
              alt="Victoria"
              width="80"
              height="80"
            />
          </div>
          <h3 class="subtitle-rev">Victoria Dobrzhanska</h3>
          <p class="text-review">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="review-item">
        <div class="card-box second-card">
          <div class="img-review">
            <img
              srcset="
                ./images/review/nazar@1x.jpg 1x,
                ./images/review/nazar@2x.jpg 2x
              "
              src="./images/review/nazar@1x.jpg"
              alt="Nazar"
              width="80"
              height="80"
            />
          </div>
          <h3 class="subtitle-rev">Nazar Babenko</h3>
          <p class="text-review">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li class="review-item">
        <div class="card-box third-card">
          <div class="img-review">
            <img
              srcset="
                ./images/review/olena@1x.jpg 1x,
                ./images/review/olena@2x.jpg 2x
              "
              src="./images/review/olena@1x.jpg"
              alt="Olena"
              width="80"
              height="80"
            />
          </div>
          <h3 class="subtitle-rev">Olena Kampusch</h3>
          <p class="text-review">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
    </ul>
    <button class="btn-review">Leave a review</button>
  </div>
</section>
<!-- Modal
<div class="modal-review">
  <button class="close-modal-rev" type="button">
    <svg width="28" height="28">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <p class="modal-title-review">
    LEAVE A REVIEW ABOUT<span class="part-mod-title"> OUR CHOCOLATE</span>
  </p>
  <form class="form-review" action="">
    <input class="input-review" type="name" placeholder="Name" />
    <input class="input-review" type="mail" placeholder="Email" />
    <input class="input-review" type="tel" placeholder="Phone number" />
    <textarea
      class="textarea-review"
      name=""
      id=""
      placeholder="Enter text"
    ></textarea>
    <button class="btn-send-reveiw" type="submit">Send</button>
  </form>
</div> -->
