<section class="subscribe _ibg">
  <div>
    <picture>
      <source
        srcset="
          ./images/subcribe/Subcribe-mob.webp    1x,
          ./images/subcribe/Subcribe-mob@2x.webp 2x
        "
        type="image/webp"
        media="(max-width:374px)"
      />
      <source
        srcset="
          ./images/subcribe/Subcribe-tabl.webp    1x,
          ./images/subcribe/Subcribe-tabl@2x.webp 2x
        "
        type="image/webp"
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/subcribe/Subcribe-desc.webp    1x,
          ./images/subcribe/Subcribe-desc@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 768px)"
      />

      <source
        srcset="
          ./images/subcribe/Subcribe-mob.jpg    1x,
          ./images/subcribe/Subcribe-mob@2x.jpg 2x
        "
        type="image/jpeg"
        media="(max-width:374px)"
      />
      <source
        srcset="
          ./images/subcribe/Subcribe-tabl.jpg    1x,
          ./images/subcribe/Subcribe-tabl@2x.jpg 2x
        "
        type="image/jpeg"
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/subcribe/Subcribe-desc.jpg    1x,
          ./images/subcribe/Subcribe-desc@2x.jpg 2x
        "
        type="image/jpeg"
        media="(min-width: 768px)"
      />
      <img
        class="_ibg img"
        src="./images/subcribe/Subcribe-mob.jpg"
        alt="making chocolate"
      />
    </picture>
  </div>
  <div class="conteiner subscribe-body">
    <h2 class="subscribe-title">Explore our new <br />chocolate first</h2>
    <p class="subscribe-text">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button id="subscribe-button" class="">Subscribe</button>
  </div>
</section>
