:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --color--white-text:#FFFFFF;
    --color--background:#FAFAFA;
    --color--black-text:#111111;
    --color--gray-text: rgba(17,17,17,0.7);
    --color--brend:#FD9222;
    --color--hover-brend:#FCF1E0;
    --color--background-card:1E1823;

  }
  body{
    margin: 0;
    font-family: Monserrat;
    font-weight: 400;
    font-size: 0,875rem;
    color: var(--color--black-text);
    background-color: #E2E2E2;

  }
  .conteiner{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  @media screen and (min-width:375px) {
    .conteiner{
        width: 365px;
    }
  }
  @media screen and (min-width:768px) {
    .conteiner{
        width: 734px;
    }
  }
  @media screen and (min-width:1200px) {
    .conteiner{
        width: 1166px;
    }
  }