/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* base */
@import url('./base/fonts.css');
@import url('./base/reset.css');
@import url('./base/base_style.css');
/* covponents */
@import url('./components/vh.css');
/* section */
@import url('./loyout/header.css');
@import url('./loyout/hero.css');
@import url('./loyout/advantages.css');
@import url('./loyout/components.css');
@import url('./loyout/made.css');
@import url('./loyout/products.css');
@import url('./loyout/sellers.css');
@import url('./loyout/reviews.css');
@import url('./loyout/subscribe.css');
@import url('./loyout/footer.css');

/* modal */
@import url('./loyout/modal/buy.css');
@import url('./loyout/modal/explore.css');
@import url('./loyout/modal/feedback.css');
@import url('./loyout/modal/leave.css');
@import url('./loyout/modal/thank.css');


/* Підключати свій стиль: через @import url('шлях до файлу'); */

